<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartparking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smartparking.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.smartparking.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.smartparking.Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.smartparking.Parkingslot"
            android:label="@string/title_activity_parkingslot" >
        </activity>
        <activity
            android:name="com.example.smartparking.Slot"
            android:label="@string/title_activity_slot" >
        </activity>
        <activity
            android:name="com.example.smartparking.Makepatment"
            android:label="@string/title_activity_makepatment" >
        </activity>
        <activity
            android:name="com.example.smartparking.Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name="com.example.smartparking.Bregister"
            android:label="@string/title_activity_bregister" >
        </activity>
        <activity
            android:name="com.example.smartparking.Amountgenreation"
            android:label="@string/title_activity_amountgenration" >
        </activity>
        <activity
            android:name="com.example.smartparking.Qrscan"
            android:label="@string/title_activity_qrscan" >
        </activity>
        <activity
            android:name="com.example.smartparking.Sendsms"
            android:label="@string/title_activity_sendsms" >
        </activity>
    </application>

</manifest>
